numpy
fastapi
asyncio
langchain
langchain-core
langchain-community
sentence-transformers
huggingface
elasticsearch
chromadb
nltk
rake-nltk
scikit-learn
pypdf
pydantic
uvicorn[standard]
pydicom
httpx
ollama
setuptools-rust
ffmpeg
python-multipart